# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# env (絶対にコミットしない)
.env
.env.local
.env.*.local

# prisma
prisma/migrations/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
